* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    color: #A6B759;
    font-weight: 600;
}

.container {
    margin: .5rem auto;
    width: 40%;
    background-color: #202539;
    border-radius: .5rem;
    box-shadow: 1.5rem 1.5rem 2rem grey;
}

header {
    background-color: #EE9307;
    color: #202539;
    font-family: 'Kaushan Script', cursive;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border-bottom: .1rem solid white;
    font-weight: bold;
    font-size: 1.9rem;
    letter-spacing: .5rem;
    word-spacing: .5rem;
}

.formgroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 1.5rem;
    grid-gap: 3rem;
}

.inputsty {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    border: none;
}

.select1, .select2, .select3 {
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    border: none;
}

.dob {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.info {
    text-align: right;
    padding-top: .7rem;
}
.country {
    display: grid;
    grid-template-columns: 1fr;
}

.term {
    margin-top: 1.5rem;
}

.footer {
    background-color: #EE9307;
    padding: 1rem 2rem 1rem 0;
    text-align: right;
    border-radius: .5rem;
    border-top: white;
    margin-top: 3rem;
}

.submit {
    padding: 1rem;
    background-color: #60C768;
    color: #202539;
    font-family: 'Kaushan Script', cursive;
    border-radius: .5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .5rem;
}

.cancel {
    padding: 1rem;
    background-color: #E9585B;
    color: #202539;
    font-family: 'Kaushan Script', cursive;
    border-radius: .5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .5rem;
}

.gender {
    padding-top: .8rem;
}

@media only screen and (max-width: 1060px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 904px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (max-width: 824px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (max-width: 738px) {
    html {
        font-size: 5px;
    }
}